<div class="container">
  <div class="col-md-3">
    <a [routerLink]="['/studyCases']" class="btn btn-secondary btn-block">
      <i class="fas fa-arrow-left"></i> Liste des études de cas
    </a>
  </div>
  <div class=" text-center mt-5 ">
    <h1>Ajouter Study Case</h1>
  </div>
  <div class="row ">
    <div class="col-lg-12 mx-auto">
      <div class="card mt-2 mx-auto p-4 bg-light">
        <div class="card-body bg-light">
          <div class="container">
            <flash-messages></flash-messages>
            <form [formGroup]="GlobalForm" (ngSubmit)="submitform()" novalidate autocomplete="false" id="contact-form"
              role="form">
              <div class="controls">
                <ng-container formGroupName="question">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label for="form_title">Title*</label>
                        <input formControlName="title" id="form_title" name="message" class="form-control"
                          placeholder="Write your message here." data-error="Please, leave us a message." />
                        <em style="color: red"
                          *ngIf="!validChamp('title') && questionForm.controls.title.errors.required">Champ
                          Obligatoire*</em>
                        <em style="color: red"
                          *ngIf="!validChamp('title') && questionForm.controls.title.errors.minlength">minimum de 7
                          caractères*</em>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="form-group">
                        <label for="form_enonce">Problematique*</label>
                        <textarea formControlName="enonce" id="form_enonce" name="message" class="form-control"
                          placeholder="Write your message here." rows="4" required="required"
                          data-error="Please, leave us a message."></textarea>
                        <em style="color: red"
                          *ngIf="!validChamp('enonce') && questionForm.controls.enonce.errors.required">Champ
                          Obligatoire*</em>
                        <em style="color: red"
                          *ngIf="!validChamp('enonce') && questionForm.controls.enonce.errors.minlength">minimum de 7
                          caractères*</em>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <label>Théme*</label>
                      <span *ngIf="themeLoading" style="position: relative;top: 29px;">
                        <app-loader></app-loader>
                      </span>
                      <select (change)="themeChange($event)" *ngIf="themes" formControlName="theme"
                        class="form-control">
                        <option selected value="">SÉLECTIONNER UN THEME</option>
                        <option *ngFor="let theme of themes" [value]="theme.id">{{theme.name}}</option>
                      </select>
                      <em style="color: red"
                        *ngIf="!validChamp('theme') && questionForm.controls.theme.errors.required">Champ
                        Obligatoire*</em>
                    </div>
                    <div class="col-md-6">
                      <label>Metier*</label>
                      <span *ngIf="metierLoading" style="position: relative;top: 29px;">
                        <app-loader></app-loader>
                      </span>
                      <select *ngIf="validChamp('theme') && metiers" formControlName="metier" class="form-control">
                        <option selected value="">SÉLECTIONNER UNE METIER</option>
                        <option *ngFor="let metier of metiers" [value]="metier.id">{{metier.name}}</option>
                      </select>
                      <em style="color: red"
                        *ngIf="!validChamp('metier') && questionForm.controls.metier.errors.required">Champ
                        Obligatoire*</em>
                    </div>
                  </div>
                </ng-container>
                <div><br>
                  <fieldset style="padding: 0 12px;border: grey solid 2px;">
                    <legend>
                      Ajouter des Questions
                      <button (click)="reponseFormFactory()" style="width: 30px;height: 30px;padding-right: 25px"
                        class="glow-on-hover" type="button"><strong style="font-size: 30px;">+</strong></button>
                    </legend>
                    <ng-container formGroupName="reponses">
                      <div *ngFor="let item of FormArray.controls;let i = index" [formGroupName]="i" class="row">
                        <div class="col-md-10">
                          <div class="form-group">
                            <label for="form_enonce_rep">
                              Énoncé*
                              <i (click)="removeSouEqForm(i)" style="font-size: 15px;cursor: pointer"
                                class="glyphicon glyphicon-trash"></i>
                            </label>
                            <textarea formControlName="repenonce" id="form_enonce_rep" name="message"
                              class="form-control" placeholder="Write your message here." rows="4" required="required"
                              data-error="Please, leave us a message."></textarea>
                            <em style="color: red"
                              *ngIf="!validArrayChamp('repenonce',i) && item.controls.repenonce.errors.required">Champ
                              Obligatoire*</em>
                            <em style="color: red"
                              *ngIf="!validArrayChamp('repenonce',i) && item.controls.repenonce.errors.minlength">Minimum
                              de 7 charactéres*</em>
                          </div><br>
                        </div>
                      </div>
                    </ng-container>
                    <hr style="color: gainsboro;">
                    <div class="col-md-4"></div>
                    <div style="margin-bottom: 5px" class="col-md-4">
                      <input *ngIf="FormArray.length > 0" (click)="clearArrayForm()"
                        class="btn btn-danger btn-send pt-2 btn-block " value="clear All"> </div>
                    <div class="col-md-4"></div>
                  </fieldset>
                </div>
                <br />
                <div class="row" style="display: center; align-items: center; justify-content: center;">
                  <div class="col-md-6">
                    <app-loader *ngIf="isLoading"></app-loader>
                    <input *ngIf="!isLoading" type="submit" class="btn btn-success btn-send pt-2 btn-block "
                      value="ajouter">
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div> <!-- /.8 -->
    </div> <!-- /.row-->
  </div>
</div>
